@import "tailwindcss";

body{
    background-color: #440241;
}

@layer utilities {
  .animate-fade-in-up {
    animation: fadeInUp 1s ease-in-out both;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
